:root {
  --color1: #00132B;
  --light-blue: #8ab9d3;
  --black: #000000;
  --light-blue2: rgba(0,68,80,0.18);
}
body {
  font-family: 'Fira Mono', monospace;
}
#img-circle {
  width:300px;
  border-radius:150px;
  height: 15rem;
  padding-top: 20%;
  padding-bottom: 16%;
  margin-top: 1vw;
  object-fit: cover;
}
.navbar {
  z-index: 1040;
  background-color: var(--color1);
}
.side-nav {
margin-top: 45px !important;
}
.side-nav a {
  padding-left: 0px;
}
.side-nav .collapsible {
  padding: 0px;
  margin-top: 2rem;
  text-align: center;
}
.double-nav .breadcrumb-dn p {
color: #fff;
}
.collapsible-header {
  margin: 2vw;
}
.row {
  margin-top: 22vw;
}
#button-color {
  color: var(--light-blue);
}
.light-blue-skin .side-nav .sidenav-bg:after, .light-blue-skin .side-nav .sidenav-bg.mask-strong:after {
  background-color: var(--color1);
}
.logo-img {
  width: 20vw;
}
.info-title {
  font-size: 6vw;
  margin-top: 25vw;
  margin-left: 11vw;
  margin-bottom: 6vw;
}
.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 300px;
  grid-gap: 1rem;
  justify-content: center;
}
.formulario {
  margin-left: 6vw;
  margin-right: 6vw;
}
.form-control {
  margin-bottom: 5vw;
}
.border-limit {
  border-bottom: 1px solid var(--color1);
}
.form-design {
    margin-top: 25vw;
}

@media (max-height: 992px) {
  .side-nav .logo-wrapper {
    height: 15rem;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
  .row {
      margin-top: 10vw;
  }
  .info-title {
    font-size: 4vw;
    margin-top: 16vw;
    margin-left: 19vw;
  }
  .form-control {
    font-size: 1.5rem;
  }
  .side-nav .collapsible a {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px){
  .logo-img {
    width: 11vw;
}}

@media (min-width: 1200px){
  .fixed-sn main {
margin-left: 20% !important;
margin-right: 20% !important;
}}

@media (min-width: 1360px){
  .max-resolution {
    margin-left: 15vw;
    margin-top: 5vw;
  }
  .form-control {
    width: 45%;
  }
  .form-control2 {
    float: left;
    margin-top: -12vw;
    margin-left: 45vw;
    width: 100vw;
  }
}

@media (min-width: 1550px){
  .max-resolution {
    margin-left: 15vw;
    margin-top: 5vw;
  }
  .form-control {
    width: 45%;
  }
  .form-control2 {
    float: left;
    margin-top: -12vw;
    margin-left: 45vw;
    width: 100vw;
  }
}