body {
    background-image: url("../images/fondo-formulario.jpeg");
    background-repeat: no-repeat;
    background-size: 105vw 118vh;
}

.titulo-formulario {
    background-color: #000000;
    color: #8ABAD3;
    width: 56vw;
    font-size: 34px;
    margin-top: 5vw;
    margin-left: 2vw;
    padding-left: 2vw;
    border-radius: 2vw;
}

.nombre {
    margin-left: 2vw;
    color: white;
}

#mensajeDebajoDeInput {
    margin-left: 2vw;
}

.correoElectronico {
    margin-left: 2vw;
    margin-top: 2vh;
    color: white;
}

#contraseña {
    color: white;
    margin-left: 2vh;
}

#inputsFormulario {
    width: 56vw;
    margin-left: 2vw;
}

#crear-cuenta {
    margin-left: 2vh;
    color: #8ABAD3;
}

.iconos {
    font-size: 9vw;
    margin-top: 2vw;
    margin-left: 2vw;
    color: #000000;
}

@media (min-width: 600px) {
    .titulo-formulario{
        width: 32vw;
        border-radius: 1vw;
    }
    #inputsFormulario{
        width: 32vw;
    }

    .container{
        display: flex;
    }

    #ingresar{
        display: block;
        position: relative;
        height: 5vw;
        margin-top: 27vh;
        margin-left: 14vh;
    }

    
}

@media (min-width: 1200px) {
    .titulo-formulario{
        border-radius: 1.1vh;
    }
    .formulario{
        margin-left: -39vh
    }
    .iconos{
        font-size: 8vh;
    }
    #ingresar{
      width: 7vw;
      height: 6vh;  
    }
}
