body {
    font-family: 'Fira Mono', monospace;
  }
:root {
  --color1: #00132B;
  --light-blue: #8ABAD3;
  --black: #000000;
  --light-blue2: rgba(0, 68, 80, 0.18);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Mono', monospace;
    background-color: var(--light-blue2) !important;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 21vw;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

#text-icon {
    margin-right: -14vw;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 10vw;
}

.nav-icons1 {
    border-top: 1px solid var(--light-blue);
}

.nav-icons2 {
    border-bottom: 1px solid var(--light-blue);
}

.nav div.logo a img {
    width: 35vw;
    margin-top: 0rem;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: var(--light-blue);
    line-height: 65px;
    font-size: 2.4rem;
}

/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(../../public/images/fondo-home.jpeg);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 10;
}

#wrap {
    margin: 30px;
    position: relative;
    height: 32px;
    margin: 0 0 0 auto;
    padding: 0;
    position: relative;
    max-width: 700px;
    margin-right: 6vw;
  }
  
  input[type="text"] {
    height: 50px;
    font-size: 55px;
    display: inline-block;
    font-family: 'Fira Mono';
    font-weight: 100;
    border: none;
    outline: none;
    color: white;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 15px;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }
  
  input[type="text"]:focus {
    max-width: 700px;
    width: calc(100% - 70px);
    z-index: 1;
    cursor: text;
    font-size: 18px;
  }

  .button {
    font-size: 7vw;
    height: 4rem;
    background: transparent;
    border: none;
    color: var(--light-blue);
}

/* Media */
@media (min-width:375px) {
    .affix {
        padding-top: 2vw!important;
    }
}

@media (max-width: 425px) {
    .home {
        width: 104%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 10;
    }    
}

@media screen and (max-width:600px) {
    .home {
        width: 102%;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--color1);
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 5vw;
        padding: 30px;
    }
    .nav div.media_button {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .nav div.logo a img {
        width: 10rem;
    }
    .button {
        font-size: 2rem;
        height: 5rem;
        margin-left: -33vw;
    }
    #text-icon {
        display: none;
    }
    .nav-icons1 {
        display: contents;
    }
    .nav-icons2 {
        display: contents;
    }
    #icon-login {
        font-size: 2rem;
        margin-top: 3vw;
        margin-left: -5rem;
    }
    #icon-cart {
        font-size: 2rem;
        margin-top: 3vw;
        margin-left: 1rem;
    }
    #wrap {
        margin-right: -8px;
        margin-top: -2px;
        margin-left: 27rem;
    }
    input[type="text"] {
        right: 95px;
    } 
    input[type="text"]:focus {
        width: 20rem;
        font-size: 3vw;
        color: white;
        margin-left: -5rem;
    }
    #nav1 {
        margin-left: 16rem;
        margin-top: -72px;
    }
    #nav2 {
        margin-top: 2.5rem;
        margin-left: 2rem;
    }
    .nav div.main_list ul li a {
        font-size: 3vw;
    }
    #nav-section {
        padding: 0.4rem;
        border-left: 1px solid;
        border-right: 1px solid;
        margin-right: 4rem;
    }
    .affix {
        margin-top: -14vw!important;
        padding-top: 0vw!important;
        height: 23vw!important;
    }
}

@media (min-width: 1024px) {
    .nav div.logo a img {
        width: 12rem;
        margin-top: 1rem;
    }
    #nav1 {
        margin-left: 30rem;
        margin-top: -5.5rem;
    }
    #nav2 {
        margin-top: 2.75rem;
        margin-left: 5rem;
    }
    #icon-login {
        margin-left: -7rem;
    }
    .button {
        height: 6rem;
        margin-left: -31vw;
    }
    input[type="text"] {
        right: 137px;
    }
    .nav div.main_list ul li a {
        font-size: 2vw;
    }
    #nav-section {
        margin-right: 9rem;
    }
    .affix {
        padding-top: 0.5vw!important;
        height: 19vw!important;
        margin-top: -12vw!important;
    }
}

@media (min-width: 1360px) {
    .nav div.logo a img {
        width: 15rem;
        margin-top: 2rem;
    }
    #nav1 {
        margin-left: 50rem;
        margin-top: -8.5rem;
    }
    #nav2 {
        margin-top: 6.75rem;
        margin-left: 8rem;
    }
    #nav-section {
        margin-right: 11rem;
    }
    #icon-login {
        margin-left: -10rem;
    }
    .button {
        height: 7rem;
    }
    input[type="text"] {
        right: 12rem;
        top: 1.5rem;
    }
    input[type="text"]:focus {
        width: 35rem;
        font-size: 2rem;
    }
    .affix {
        padding-top: 0vw!important;
        margin-top: -13vw!important;
    }
}
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 6px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: -15px;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding-top: 0vw;
    background-color: #111;
    height: 21vw;
    margin-top: 3vw;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}