            body {
                margin: 0;
                padding: 0;
                font-family: 'Fira Mono', monospace;   
                background-color: #00132B;
            }

            .navBar-header{
                background: #00132B;
            }
            
            .imagen {
                background-size: 44px;
                width: 100px;
                height: 32px;
                margin-top: 8px;
                margin-left: 10px;
            }
            
            #box h1 {
                text-transform: uppercase;
                color: white;
            }
            
            #inputs {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 1px solid #3498db;
                padding: 10px 14px;
                width: 200px;
                outline: none;
                color: white;
                border-radius: 24px;
                transform: 0.25s;
            }
            
            #inputs:focus {
                width: 280px;
                border-color: #2ecc71;
            }
            
            #ingresar {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 1px solid #2ecc71;
                padding: 10px 40px;
                outline: none;
                color: white;
                border-radius: 24px;
                transform: 0.25s;
                cursor: pointer;
            }
            
            #ingresar:hover {
                background: #2ecc71;
            }
