body {
    font-family: 'Fira Mono', monospace;
  }
#icono {
    font-size: 5vh;
    margin-top: 3vh;
}

.drop {
    margin-left: 7vh;
    margin-top: -5vh;
}

#cantidad {
    width: 100px;
    font-size: 20px;
    margin-top: 3vh;
}

#comprar {
    width: 100px;
    margin-top: 2vh;
}

#agregar-carrito{
    width: 230px;
    margin-top: 2vh;
}
.imagen{
    width: 450px;
    height: 400px;
}