body {
    font-family: 'Fira Mono', monospace;
  }
:root {
    --color1: #00132B;
    --light-blue: #8ABAD3;
    --black: #000000;
    --light-blue2: rgba(0,68,80,0.18);
}
.navbar {
    z-index: 1;
    background-color: var(--color1);
}
.side-nav {
margin-top: 45px !important;
}

.double-nav .breadcrumb-dn p {
  color: #fff;
}
.row {
    margin-top: 22vw;
}
#button-color {
    color: var(--light-blue);
}
#slide-out{
    z-index: 1;
}
.light-blue-skin .side-nav .sidenav-bg:after, .light-blue-skin .side-nav .sidenav-bg.mask-strong:after {
    background-color: var(--color1);
   
}
#sidenav-overlay {
    display: none;
}

.submenu {
    position: relative;
    
}
#CART{
    position: absolute;
    z-index: 2;
    top: 3rem;
    right: 56rem;
    width: 236px;
    background-color: var(--light-blue);
}

#cart {
    font-size: 1.5rem;
    float: right;
    margin-top: 0.5rem;
    margin-left: -2rem;
}

#carrito {
    background-color: white;
    border: 2px solid var(--color1);
}

#lista-carrito {
    width: 16rem;
    color: black;
}

#section {
    border-bottom: 1px solid var(--color1);
}

#vaciar-carrito {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.button-cart {
    background-color: var(--color1);
    margin-top: 6rem;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 200px;
    min-width: 300px;
}
.double-nav{
    padding-left: unset; 
    background-color: #00132B;
}

@media (min-width: 768px) {
    .row {
        margin-top: 10vw;
    }
}
@media (min-width: 1024px) {
    .side-nav ul {
        margin-top: 1rem;
    }
}
@media (min-width: 1200px){
    .fixed-sn main {
  margin-left: 20% !important;
  margin-right: 20% !important;
}
}