#icono {
    font-size: 5vh;
    margin-top: 3vh;
}

.dropdown {
    margin-left: 7vh;
    margin-top: -5vh;
}

#cantidad {
    width: 8vw;
    font-size: 2vw;
    margin-top: 3vh;
}

#comprar {
    margin-top: 2vh;
}