* {
  box-sizing: border-box;
}
/* Variables */

:root {
  --blue: #00132B;
  --light-blue: #8ABAD3;
  --black: #000000;
  --light-blue2: #004450;
}

  /* Header */

.contenedor{
  display: flex;
  justify-content: space-around;
}
.main-header{
  background-color: var(--blue);
}
.main-header_home-link img{
  width: 36vw;
  height: 70%
}
.search-form_input{
 display:none;
}
.main-navbar{
  display: none;
}
.search-form_button{ 
  font-size: 20px;
}
.class-buttons{
  background-color: var(--blue);
  color: var(--light-blue);
  border: none;
  margin-right: 15px;
}
.class-icons{
  color: var(--light-blue);
  margin-right: 15px;
  font-size: 30px;
}
.main-header_home-link{
  margin-top:5.36%;
}