* {
  box-sizing: border-box;
}
    /* Variables */
  
:root {
  --blue: #00132B;
  --light-blue: #8ABAD3;
  --black: #000000;
  --light-blue2: #004450;
}
  
    /* Header */
  
.logo {
  width: 30vw;
}
.search-form_input {
  display: none;
}
.navbar-toggler-icon {
  border: none;
  color: var(--light-blue);
}
.navbar-toggler {
  border: none;
  color: var(--light-blue);
}