* {
    box-sizing: border-box;
}
        /* Variables */
    
:root {
   --color1: #00132B;
   --color2: #8ABAD3;
   --color3: #000000;
   --color4: #004450;
}

        /* Main */

h2 {
    background-color: var(--color1);
    color: var(--color2);
    padding: 9px;
}
#title-product {
    margin: 2.5vw;
    font-size: 4vw;
}
.thinBorder {
    height: 2px;
    background: var(--color4);
    margin: 5px 0;
}
#title-product-article {
    font-size: 3.5vw;
    margin: 2vw;
    color: var(--color2);
}
.product-price{
    font-size: 4vw;
    color: var(--color2);
}
.text-car {
    font-size: 2.5vw;
}
.text-car-none {
    display: none;
}
#text-total {
    font-size: 3vw;
    padding-top: 3vw;
}
#total {
    width: 10vw;
    font-size: 3vw;
}
.model-input {
    width: 9vw;
    font-size: 2vw;
}

@media (min-width: 600px) {
    .text-car-none {
        display: initial;
    }
    .img-car {
        width: 14vw;
    }
    #centrado {
        padding-top: 5.5vw;
    }
    #total {
        width: 10vw;
    }
    #text-total {
        font-size: 2.5vw;
    }
    #model-input {
        padding-top: 5vw;
    }
    #model-input-total {
        padding-top: 2vw;
    }
}

@media (min-width: 1024px) {
    #total {
        font-size: 2.5vw;
    }
}