* {
  box-sizing: border-box;
}
    /* Variables */
  
:root {
  --color1: #00132B;
  --light-blue: #8ABAD3;
  --black: #000000;
  --light-blue2: #004450;
}
  
    /* Header */
    .navbar-brand img{
      width: 100px;
    }
  
    .dropdown-menu{
      background-color:var(--black)!important;
    }
    
    .dropdown-item{
      color: var(--light-blue)!important;
    }
    .bg-nav{
      background-color: var(--color1);
    }


/*Footer*/
 .footer{
   display: flex;
   background-color:#00132B;
   margin-top: 15px;
   font-size: 4vw;
 }

 #logo-footer{
   width: 12%;
   margin-top: 3vh;
   margin-left: 3vh;
   padding-bottom: 3vh;
 }

.lista-1{
  margin-top: 7vw;
  padding-bottom: 6vw;
}

.lista-2{
  margin-top: 7vw;
  padding-bottom: 6vw;
}

 ul{
  list-style: none;

}

li a{
  color: white;
}
 
