<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../public/css/stylecarrito.css">
  <link rel="stylesheet" href="../../public/css/style2.css">
  <title>Carrito</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../public/css/style2.css">
  <title>Home</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
  <header class="main-header">
    <div class="pc">
      <div class="container-fluid contenedor-header">
        <a class="brand" href="">
          <img src="../../public/images/nexus.png" alt="Logo">
        </a>
        <form action="" method="get" class="search-form mx-auto">
          <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
          <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </form>
        <a class="nav-icons mx-auto" href="">
          <i class="fas fa-user-circle"></i>
          <a class="nav-icons mx-auto" href="">
            <i class="fas fa-shopping-cart"></i>
          </a>
      </div>
      <nav>
        <ul class="nav bg-nav nav-fill">
          <li class="nav-item margin-nav dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="#">Perifericos</a>
              <a class="dropdown-item" href="#">Motherboard</a>
              <a class="dropdown-item " href="#">Procesador</a>
              <a class="dropdown-item" href="#">Memorias ram</a>
              <a class="dropdown-item " href="#">Almacenamiento</a>
              <a class="dropdown-item" href="#">Fuente</a>
              <a class="dropdown-item " href="#">Coolers</a>
              <a class="dropdown-item" href="#">Gabinete</a>
            </div>
          </li>
          <li class="nav-item margin-nav">
            <a class="nav-link" href="">NexusCraft</a>
          </li>
          <li class="nav-item margin-nav">
            <a class="nav-link " href="">Ayuda</a>
          </li>
          <li class="nav-item margin-nav">
            <a class="nav-link" href="">Mi Cuenta</a>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="navbar navbar-dark bg-nav phone">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand mr-0" href="">
        <img src="../../public/images/nexus.png" alt="Logo">
      </a>
      <a class="nav-icons" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" href="">
        <i class="fas fa-search"></i>
      </a>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <form class="modal-form aling-center">
                <input type="search" placeholder="Search" aria-label="Search">
                <button type="submit"><i class="fas fa-search"></i></button>
              </form>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <a class="nav-icons" href="">
        <i class="fas fa-user-circle"></i>
        <a class="nav-icons" href="">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Productos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item " href="#">Perifericos</a>
                <a class="dropdown-item" href="#">Motherboard</a>
                <a class="dropdown-item " href="#">Procesador</a>
                <a class="dropdown-item" href="#">Memorias ram</a>
                <a class="dropdown-item " href="#">Almacenamiento</a>
                <a class="dropdown-item" href="#">Fuente</a>
                <a class="dropdown-item " href="#">Coolers</a>
                <a class="dropdown-item" href="#">Gabinete</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">NexusCraft</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Mi Cuenta</a>
            </li>
          </ul>
        </div>
    </nav>

  </header>
        <!--Carrito-->
    <main>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <h2 style="font-size: 3vw">Carrito de compras</h2>
                    <form id="procesar-pago" action="#" method="POST">
                        <div id="carrito">
                            <table class="table table-sm" id="lista-compra">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-car"></th>
                                        <th scope="col" class="text-car">Productos</th>
                                        <th scope="col" class="text-car">Cantidad</th>
                                        <th scope="col" class="text-car text-car-none" style="padding-left: 2vw; position: absolute;">Precio</th>
                                        <th scope="col" class="text-car">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <th scope="row"><img src="../../public/images/placeholder.png" alt="comp" class="text-car-none img-car"></th>
                                      <td class="text-car" id="centrado">Memoria Ram Ddr4 16gb</td>
                                      <td class="text-car text-car-none" style="position: absolute; padding-top: 5.5vw;">$4200</td>
                                      <td id="model-input">
                                          <input type="number" class="form-control cantidad" min="1" value="1" style="width: 9vw;font-size: 2vw;">
                                      </td>
                                      <td class="text-car" id="centrado">$4200</td>
                                    </tr>
                                    <tr>
                                      <th scope="row"><img src="../../public/images/placeholder.png" alt="comp" class="text-car-none img-car"></th>
                                      <td class="text-car" id="centrado">MSI X470 Gaming Plus</td>
                                      <td class="text-car text-car-none" style="position: absolute; padding-top: 5.5vw">$5000</td>
                                      <td id="model-input">
                                          <input type="number" class="form-control cantidad" min="1" value="2" style="width: 9vw;font-size: 2vw;">
                                      </td>
                                      <td class="text-car" id="centrado">$10000</td>
                                    </tr>
                                    <tr>
                                      <th colspan="3" scope="col" class="text-right" id="text-total">Total</th>
                                      <th scope="col" id="model-input-total">
                                        <input id="total" name="monto">
                                      </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
      <img src="../../public/images/logo-footer.png" alt="logo" id="logo-footer">
      <ul class="lista-1">
          <li><a href="#" style="text-decoration: none;">Incio</a></li>
          <li><a href="#" style="text-decoration: none;">Productos</a></li>
          <li><a href="#" style="text-decoration: none;">NexusCraft</a></li>
          <li><a href="#" style="text-decoration: none;">Ayuda</a></li>
          <li><a href="#" style="text-decoration: none;"><b>Contacto</b></a></li>
      </ul>
      <ul class="lista-2">
          <li><a href="#" style="text-decoration: none;">Mi cuenta</a></li>
          <li><a href="#" style="text-decoration: none;">Perfil</a></li>
          <li><a href="#" style="text-decoration: none;">Mi pedido</a></li>
          <li><a href="#" style="text-decoration: none;">Mis preguntas</a></li>
          <li><a href="#" style="text-decoration: none;">¿Quienes somos?</a></li>
          <li><a href="#" style="text-decoration: none;"><b>¿Donde estamos?</b></a></li>

      </ul>
      <div class="form-group mx-sm-3 mb-2" id="input-footer">
        <label for="exampleInputEmail1" class="label-footer">Recibe nuestras promociones!</label>
        <input type="email" class="form-control" id="input-footer" placeholder="Correo electronico">
          </div>
      <button type="submit" class="btn btn-primary mb-2" id="boton-footer">Aceptar</button>
      <div class="iconos-footer">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-youtube" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
  </footer>

</body>
</html>