<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/stylecarrito.css">
    <link rel="stylesheet" href="../public/css/style2.css">
    <link rel="stylesheet" href="../public/css/productDeTail.css">
    <title>Carrito</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <% include('./partials/header.ejs') %>
        <main>
            <article>
                <div class="container">
                    <div>
                        <h3 id="title-product">Producto #1</h3>
                    </div>
                    <div class="thinBorder"></div>
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../public/images/placeholder.png" class="d-block w-100" alt="producto">
                                </div>
                                <div class="carousel-item">
                                    <img src="../public/images/placeholder.png" class="d-block w-100" alt="producto">
                                </div>
                                <div class="carousel-item">
                                    <img src="../public/images/placeholder.png" class="d-block w-100" alt="producto">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="card-body col-6-md col-12-xs">
                            <h3>Precio Nexus</h3>
                            <h4>$12.500</h4>
                            <div class="thinBorder"></div>
                            <h3>Precio Lista</h3>
                            <h4>$15.000</h4>
                            <div class="thinBorder"></div>
                            <i id="icono" class="fa fa-credit-card" aria-hidden="true"></i>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccione su metodo de pago
                          </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tarjeta debito</a>
                                    <a class="dropdown-item" href="#"> Tarjeta credito</a>
                                    <a class="dropdown-item" href="#">RapiPago</a>
                                </div>
                            </div>

                            <i id="icono" class="fas fa-truck" aria-hidden="true"></i>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Seleccione su metodo de envio
                        </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Camion</a>
                                    <a class="dropdown-item" href="#"> Avion</a>
                                    <a class="dropdown-item" href="#">Local</a>
                                </div>
                            </div>
                            <td id="model-input">
                                <input id="cantidad" type="number" class="form-control cantidad" min="1" value="2" style="width: 9vw;font-size: 2vw; margin-top: 3vh;">
                            </td>
                            <button id="comprar" type="button" class="btn btn-outline-dark">Dark</button>
                        </div>
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3 class="card-title">Producto #1</h3>
                                <h4>Descripcion</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                                <h4>Especificaiones</h4>
                                <p class="card-text">-Lorem ipsum dolor sit ame</p>
                                <p class="card-text">-consectetur adipisicing elit</p>
                                <p class="card-text">-Sapiente dicta fugit fugiat hic aliquam itaque facere</p>
                                <p class="card-text">-soluta Totam id dolores sint aperiam sequi pariatur</p>
                                <p class="card-text">-praesentium animi perspiciatis molestias iure, ducimus</p>
                                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars
                            </div>
                            <div class="banner"></div>
                        </div>
                    </div>
            </article>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>