<div class="navbar-brand ml-auto" id="icons">
    <ul>
        <li class="submenu">
                <i class="fas fa-cart-arrow-down" id="cart"></i>
        <div id="carrito">
            <table id="lista-carrito" class="u-full-width table">
                <thead>
                    <tr>
                        <th id="section" scope="col"><b>Imagen</b></th>
                        <th id="section" scope="col"><b>Nombre</b></th>
                        <th id="section" scope="col"><b>Precio</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button class="button-cart">
                <a href="#" id="shopcart" class="button u-full-width">Vaciar Carrito</a>
            </button>
            <button class="button-cart">
                <a href="#" id="shopcart" class="button u-full-width ml-auto">Comprar</a>
            </button>
        </div>
        </li>
    </ul>
</div>