<div id ="CART">
    <table class="table table-bordered table-dark">
        <thead class= "thead-dark">
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><img src="" alt="">Ejemplo ejemplo</th>
                <td>Placa de video</td>
                <td>$35.000</td>
            </tr>
        </tbody>
    </table>
    <button>Vaciar carrito</button>
</div>