<footer class="footer">
    <img src="/images/logo-footer.png" alt="logo" id="logo-footer">
    <ul class="lista-1">
        <li><a href="#" style="text-decoration: none;">Incio</a></li>
        <li><a href="#" style="text-decoration: none;">Productos</a></li>
        <li><a href="#" style="text-decoration: none;">NexusCraft</a></li>
        <li><a href="#" style="text-decoration: none;">Ayuda</a></li>
        <li><a href="#" style="text-decoration: none;"><b>Contacto</b></a></li>
    </ul>
    <ul class="lista-2">
        <li><a href="#" style="text-decoration: none;">Mi cuenta</a></li>
        <li><a href="#" style="text-decoration: none;">Perfil</a></li>
        <li><a href="#" style="text-decoration: none;">Mi pedido</a></li>
        <li><a href="#" style="text-decoration: none;">Mis preguntas</a></li>
        <li><a href="#" style="text-decoration: none;">¿Quienes somos?</a></li>
        <li><a href="#" style="text-decoration: none;"><b>¿Donde estamos?</b></a></li>

    </ul>
    <div class="form-group mx-sm-3 mb-2" id="input-footer">
        <label for="exampleInputEmail1" class="label-footer">Recibe nuestras promociones!</label>
        <input type="email" class="form-control" id="input-footer" placeholder="Correo electronico">
    </div>
    <button type="submit" class="btn btn-primary mb-2" id="boton-footer">Aceptar</button>
    <div class="iconos-footer">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-youtube" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
</footer>