<header class="main-header">
    <div class="pc">
        <div class="container-fluid contenedor-header">
            <a class="brand" href="">
                <img src="../../public/images/nexus.png" alt="Logo">
            </a>
            <form action="" method="get" class="search-form mx-auto">
                <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
            <a class="nav-icons mx-auto" href="">
                <i class="fas fa-user-circle"></i>
                <a class="nav-icons mx-auto" href="">
                    <i class="fas fa-shopping-cart"></i>
                </a>
        </div>
        <nav>
            <ul class="nav bg-nav nav-fill">
                <li class="nav-item margin-nav">
                    <a class="nav-link" href="">Productos</a>
                </li>
                <li class="nav-item margin-nav">
                    <a class="nav-link" href="">NexusCraft</a>
                </li>
                <li class="nav-item margin-nav">
                    <a class="nav-link " href="">Ayuda</a>
                </li>
                <li class="nav-item margin-nav">
                    <a class="nav-link" href="">Mi Cuenta</a>
                </li>
            </ul>
        </nav>
    </div>
    <nav class="navbar navbar-dark bg-nav phone">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
        <a class="navbar-brand mr-0" href="">
            <img src="../../public/images/nexus.png" alt="Logo">
        </a>
        <a class="nav-icons" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" href="">
            <i class="fas fa-search"></i>
        </a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <form class="modal-form aling-center">
                            <input type="search" placeholder="Search" aria-label="Search">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                </div>
            </div>
        </div>
        <a class="nav-icons" href="">
            <i class="fas fa-user-circle"></i>
            <a class="nav-icons" href="">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">NexusCraft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Ayuda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Mi Cuenta</a>
                    </li>
                </ul>
            </div>
    </nav>

</header>